/* font  */
.roboto-font {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/* header section start */
header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #fff4f4;
    border-radius: 0px 0px 20px 20px;
}
.header-1{
    display: flex;
    align-items: center;
}
.header-1 img{
  height: 60px;
  width: 120px;
}
.header-1 h1{
  font-size: 30px;
  font-weight: 500;
  color: #1F1F1F;
}
.header-2{
    position: relative;
}
.header-2 input{
    border: none;
    background-color: #fffdfd;
    border-radius: 20px;
    color: CCCCCC;
    font-style: italic;
    padding: 15px 30px;
    width: 600px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 15px;
}
.header-2 i{
    position: absolute;
    top: 18px;
    right: 22px;
    color: #BABABA;
}
.header-3 ul{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 15px;
}
.header-3 li{
    list-style: none;
}
.header-3 a{
    text-decoration: none;
    color: #707070;
    font-size: 16px;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
}
/* header section end */

/* bennar section start */
.bennar-section{
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 1200px;
    margin: 30px auto;
    background-color: #feeeed;
    border: 1px solid yellowgreen;
    border-radius: 20px;
}
.bennar-section-1 img{
    width: 100%;
    padding: 10px;
    height: 300px;
}
.bennar-section-2 {
    padding: 20px;
}
.bennar-section-2 h1{
    font-size: 40px;
    font-weight: bold;
    color: #1F1F1F;
    font-family: "Poppins", sans-serif;
}
.bennar-section-2 h2{
    font-size: 40px;
    font-weight: 600;
    color: #FF136F;
    font-family: "Poppins", sans-serif;
    line-height: 100%;
}
.bennar-section-2 p{
    font-size: 16px;
    font-weight: 400;
    color: #4E4E4E;
    font-family: "Inter", sans-serif;
}
.bennar-section-2 button{
    font-size: 16px;
    font-weight: 600;
    color: #ffff;
    font-family: "Inter", sans-serif;
    background-color: #FF589B;
    border-radius: 10px;
    border: none;
    padding: 12px 20px;
    line-height: 100%;
}
/* bennar section end */

/* Categories section start */
.Categories{
    background-color: #fff4f4;
    text-align: center;
    padding: 50px;
    border-radius: 10px 10px 20px 20px;
    max-width: 1200px;
    margin: 30px auto;
}
.Categories-1 h1{
    background-color: antiquewhite;
    margin-top: -50px;
    border-radius: 0px 0px 2px 12px;
    padding: 20px;
    color: #790202;
}
.Categories-2{
    display: flex;
    gap: 25px;
}
.Categories-3{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #df90b7;
    width: 100%;
    border-radius: 15px 30px 15px 30px;
}
.Categories-3 img{
    height: 100px;
    width: 120px;
}
.Categories-3 h1{
    color: #fbdfdf;
    font-size: 25px;
    font-weight: bold;
}
/* Categories section end */